.college-professor-page {
    padding: 5rem 0;
    text-align: center;
    height: 100vh;
    overflow: auto;

    @media screen and (max-width: 530px) {
        padding-top: 8rem;
    }

    @media screen and (max-width: 245px) {
        padding-top: 12rem;
    }

    .page-heading {
        font-size: 2.5rem;
        font-weight: 600;
        margin-top: 2rem;
        color: #3a3a3ae8;
        font-weight: 600;
        padding: 0 1rem;
    }

    .department-name {
        font-size: 1.8rem;
        font-weight: 400;
        margin-top: 0.5rem;
        color: rgb(58, 58, 58);
        word-spacing: 2px;
        letter-spacing: 0.5px;
        padding: 0 1rem;
    }

    .search-box-cont {
        margin-top: 5rem;
        width: clamp(20rem, 80%, 60rem);
        margin-inline: auto;
    }

    .list-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        margin-top: 5rem;
        padding: 0 2rem;
        gap: 2rem;

        .list-item {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .loading-animation-container {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }
}