.authentication-window .login {
    h4 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 5rem;
        color: #3f3f3f;
    }
    .forgot-password {
        font-size: 1.5rem;
        font-weight: 500;
        cursor: pointer;
        display: inline-block;
        margin-bottom: 1rem;
        color: #1A73E9;
        padding: 0.5rem 1rem;
        padding-left: 0;
    }

    form .form-error-msg {
        color: rgb(255, 49, 49);
        font-size: 1.3rem;
        font-weight: 400;
        margin-bottom: 1rem;
        height: 1.6rem;
    }

    .signup {
        font-size: 1.5rem;
        font-weight: 400;
        margin-top: 4rem;
        text-align: center;
        color: #3f3f3f;
        
        .signup-link {
            cursor: pointer;
            color: #1A73E9;
            text-decoration: underline;
        }
    }
}