.college-card-global {
    background-color: white;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;

    .img-container {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        overflow: hidden;
        background-color: rgb(230, 230, 230);

        .college-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }
    .college-name {
        font-size: 1.5rem;
        font-weight: 500;
    }
}