.professor-review-page .user-review.display {
    .time-display {
        font-size: 1.5rem;
        font-weight: 400;
        color: #353535;
        margin-bottom: 1rem;
    }

    .star-cont {
        cursor: default !important;
    }

    .left-right {
        flex-wrap: nowrap;
    }

    .popup {
        position: relative;

        .popup-btn {
            height: 3rem;
            width: 2rem;
            padding: 0.1rem;
            cursor: pointer;
        }

        .popup-menu {
            background-color: rgb(253, 253, 253);
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.151);
            border-radius: 5px;
            overflow: hidden;
            width: 9.5rem;

            button {
                padding: 1rem 2rem;
                border: none;
                width: 100%;
                text-align: start;
                font-size: 1.5rem;
                color: rgb(73, 73, 73);
                background-color: transparent;
                font-weight: 500;
                cursor: pointer;

                &.edit {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
                }
            }
        }
    }
}