.authentication-window .otp {
    h4 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }

    .description {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }
    .user-email {
        font-size: 1.5rem;
        font-weight: 500;
        color: #444444;
        text-decoration: underline;
        margin-bottom: 3rem;
    }

    .resent-otp-label, .resent-otp {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
    }

    .trash-folder-mention {
        font-size: 1.25rem;
        font-weight: 300;
        margin-top: 0.2rem;
        text-align: center;
    }

    .resent-otp {
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 3rem;

        .btn {
            color: #1A73E9;
            cursor: pointer;
            padding: 0.5rem 1rem;
            padding-right: 0;
        }
    }

    form .form-error-msg {
        color: rgb(255, 49, 49);
        font-size: 1.3rem;
        font-weight: 400;
        margin-bottom: 1rem;
        height: 1.6rem;
    }

    .edit-email {
        font-size: 1.5rem;
        font-weight: 400;
        margin-top: 4rem;
        text-align: center;
        
        .edit-email-btn {
            cursor: pointer;
            color: #1A73E9;
            text-decoration: underline;
        }
    }
}