.error-page {
    padding: 5rem 0;
    background-color: white;
    height: 100vh;
    overflow: hidden;

    @media screen and (max-width: 530px) {
        padding-top: 8rem;
    }

    @media screen and (max-width: 245px) {
        padding-top: 12rem;
    }

    .error-page-img {
        width: 100%;
    }
}